{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["prettier"],
  "extends": [
    "airbnb-typescript/base"
    // "prettier/@typescript-eslint"
  ],
  "rules": {
    "prettier/prettier": ["error"],
    "@typescript-eslint/no-unused-vars": ["warn"],
    "arrow-body-style": 0,
    "comma-dangle": 0
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "./tsconfig.json"
  }
}
